doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- - let user = {username: 'Kev', passoword: 'test', admin: true, avatar: 'https://i.kym-cdn.com/photos/images/newsfeed/001/701/632/e9f.jpg'}
    nav.navbar.navbar-expand-lg.bg-body-tertiary(style='background-color: yellow')
      .container-fluid
        a.navbar-brand(href='/catalog')
          img(src='http://localhost:3000/images/lego-logo.png' alt='Lego Logo' width='74' height='64')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/catalog/products') Products
            li.nav-item
              a.nav-link(href='/catalog/themes') Themes
            li.nav-item(style='margin-right: 2rem')
              a.nav-link(href='/catalog/productinstances') Inventory
            if user && user.admin
              li.nav-item
                a.nav-link(href='/catalog/product/create') Create Product
              li.nav-item
                a.nav-link(href='/catalog/theme/create') Create Theme
              li.nav-item
                a.nav-link(href='/catalog/productinstance/create') Create Inventory
          if user
            ul.navbar-nav.ml-auto.d-flex.justify-content-center.align-items-center
              li.nav-item.m-3
                img.rounded-circle.mx-auto.d-block(src=user.avatar width='60px' height='60px')
              li.nav-item.m-3
                span.h4 Welcome, #{user.username}!
              li.nav-item
                a.nav-link(href='/users/sign-out') Sign Out
          else              
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/users/log-in') Log In
              li.nav-item
                a.nav-link(href='/users/sign-up') Sign Up

            //- li.nav-item.dropdown
            //-   a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            //-     | Create
            //-   ul.dropdown-menu
            //-     li
            //-       a.dropdown-item(href='#') Create Product
            //-     li
            //-       a.dropdown-item(href='#') Create Theme
            //-     li
            //-       a.dropdown-item(href='#') Create Inventory

    div(style='padding: 2rem')
      block content