extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group 
      label(for='name') Name: 
      input#name.form-control(type='text', placeholder='Name of set' name='name' required='true' value=(undefined===product ? '' : product.name))
    div.form-group
      label(for='image') Image: 
      input#image.form-control(type='text', placeholder='Please enter image address' name='image' required='true' value=(undefined===product ? '' : product.image))
    div.form-group.product-numbers
      label(for='price') Price: 
      input#price.form-control(type='number', placeholder='Cost of product e.g. \'49.99\'' name='price' required='true' step='0.01' min='.99' value=(undefined===product ? '' : product.price))

      label(for='pieceCount') Piece Count: 
      input#pieceCount.form-control(type='number', placeholder='Number of pieces' name='pieceCount' required='true' value=(undefined===product ? '' : product.pieceCount))
      
      label(for='setNumber') Set Number: 
      input#setNumber.form-control(type='number', placeholder='5 digit Set Number' name='setNumber' required='true' min ='11111' max='99999' value=(undefined===product ? '' : product.setNumber))  
    div.form-group
      label(for='theme') Theme: 
      select#theme.form-control(type='select', placeholder='Select theme' name='theme' required='true')
        - themes.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for theme in themes 
          option(value=theme._id, selected=(selected_theme==theme._id.toString() ? 'selected' : false) ) #{theme.name}

    div.form-group
      label(for='difficulty') Difficulty: 
      select#difficulty.form-control(type='select', placeholder='Select difficulty' name='difficulty' required='true' value=(undefined===product ? '' : product.difficulty))
          option(value='0 - Beginner' selected=(undefined===product || product.difficulty!='0 - Beginner' ? false:'selected')) 0 - Beginner
          option(value='1 - Intermediate' selected=(undefined===product || product.difficulty!='1 - Intermediate' ? false:'selected')) 1 - Intermediate
          option(value='2 - Advanced' selected=(undefined===product || product.difficulty!='2 - Advanced' ? false:'selected')) 2 - Advanced
          option(value='3 - Expert' selected=(undefined===product || product.difficulty!='3 - Expert' ? false:'selected')) 3 - Expert
          option(value='4 - Master' selected=(undefined===product || product.difficulty!='4 - Master' ? false:'selected')) 4 - Master

    button.btn.btn-primary(type='submit') Submit 

  if errors 
    ul 
      for error in errors 
       li!= error.msg