extends layout 

block content 
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='username') Username: 
      input#username.form-control(type='text', placeholder='Please enter your desired username' name='username' required='true')
    div.form-group 
      label(for='password') Password: 
      input#password.form-control(type='text', placeholder='Enter desired password' name='password' required='true')
    div.form-group
      label(for='avatar') Avatar: 
      input#avatar.form-control(type='text', placeholder='' name='avatar')
    div.form-group.form-check.form-switch
      input#flexSwitchCheckDefault.form-check-input(type='checkbox' name='admin' value='true')
      label.form-check-label(for='flexSwitchCheckDefault') Is this an admin account?

    button.btn.btn-primary Submit
