body {
  background-color: rgb(244, 244, 244);
}

li {
  color: black;
}

a.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  border-bottom: 4px solid transparent;
}

a.nav-link:hover {
  border-bottom: 4px solid black;
}

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid rgba(80, 80, 80, 50);
  border-radius: 1rem;
  background-color: white;
}

.set-number {
  margin-left: auto;
}

.product-card img {
  max-width: 500px;
  height: 400px;
}

.detail-container {
  display: flex;
  gap: 8rem;
}

.detail-image {
  width: auto;
  height: 650px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* Create Product Form Styling  */

.product-numbers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#price,
#pieceCount,
#setNumber {
  width: 28em;
}
